name: Build and commit dist/

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-build-dist
  cancel-in-progress: true

permissions:
  contents: write

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  build-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set Node.js 20.x
        uses: actions/setup-node@v4.3.0
        with:
          node-version: 20.x
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Rebuild the dist/ directory
        run: |
          yarn build
          yarn package
      - name: Add and commit
        uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          add: "./dist"
          message: "rebuilding ./dist"
          push: -u origin HEAD:${{ env.BRANCH_NAME }} --force
