name: 'build-test'
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-build-test
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm install
      - run: |
          npm run all
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test bump version
        uses: ./
        with:
          incrementLevel: patch
          source: tags
          prefix: ""
      - name: Lint
        run: |
          npm install
          npm run lint
